Q1: Write a python program to scrape data for “Data Scientist” Job position in “Delhi/NCR” location.

In [428]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\tarun\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\tarun\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\tarun\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\tarun\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\tarun\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [429]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [115]:
#lets connect with web driver

driver = webdriver.Chrome()

In [116]:
# Open the Naukri.com website
driver.get('https://www.naukri.com/')

In [117]:
# entering designation and location as required in the question

designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [118]:
search_field_loc=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
search_field_loc.send_keys('Delhi/NCR')

In [119]:
#Clicking on search bar button

search_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search_button.click()

In [124]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [125]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//*[@id="listContainer"]/div[2]/div/div[*]/div/div[1]/a')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//*[@id="listContainer"]/div[2]/div/div[*]/div/div[3]/div/span[3]/span/span')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//*[@id="listContainer"]/div[2]/div/div[*]/div/div[2]/span/a[1]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping Job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//*[@id="listContainer"]/div[2]/div/div[*]/div/div[3]/div/span[1]/span/span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [126]:
print(len(job_title),len(company_name),len(experience_required),len(job_location))

10 10 10 10

In [127]:
df = pd.DataFrame({'job_title':job_title,'company_name':company_name,'experience_required':experience_required,'job_location':job_location})
df

,job_title,company_name,experience_required,job_location
0,Gen AI Data Scientist - Pan India,Genpact,6-11 Yrs,"Hyderabad, Gurugram, Bengaluru"
1,Data Scientist,IIFL Finance,3-6 Yrs,Gurugram
2,Data Scientist,Nityo Infotech,3-7 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
3,Vision Language Data Scientist,Neal Analytics,1-6 Yrs,"Mumbai, Pune, Chennai, Gurugram, Bengaluru"
4,Data Scientist with GCP Cloud,Foreign MNC,6-11 Yrs,"Delhi / NCR, Hyderabad, Bengaluru"
5,Data Scientist,Maruti Suzuki,4-7 Yrs,Gurugram
6,Data Scientist,One of the global analytics and digital soluti...,3-5 Yrs,"Hybrid - Noida, Gurugram, Bengaluru"
7,Data Scientist,Jobpoint,3-8 Yrs,"Hybrid - Gurugram, Bengaluru"
8,Data Scientist,Rarr Technologies,10-16 Yrs,Faridabad
9,Data Scientist,Rarr Technologies,6-12 Yrs,Faridabad

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [94]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\tarun\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\tarun\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\tarun\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\tarun\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\tarun\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [95]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [68]:
#lets connect with web driver

driver = webdriver.Chrome()

In [69]:
# Open the shine.com website
driver.get('https://www.shine.com/')

In [102]:
# entering designation and location as required in the question

designation= driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Scientist')

In [103]:
search_field_loc=driver.find_element(By.XPATH,'//*[@id="id_loc"]')
search_field_loc.send_keys('Banglore')

In [104]:
#Clicking on search bar button

search_button = driver.find_element(By.XPATH,'//*[@id="__next"]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search_button.click()

In [47]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [73]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//*[@id="1"]/div[*]/div[1]/div[1]/strong/p/a')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//*[@id="1"]/div[*]/div[1]/div[1]/div[3]/div[1]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,' //*[@id="1"]/div[*]/div[1]/div[1]/div[2]/span')
for i in company_tags[0:10]:             
    company=i.text
    company_name.append(company)
    
#scraping Job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//*[@id="1"]/div[*]/div[1]/div[1]/div[3]/div[2]/div[1]')
for i in experience_tags[0:10]:               
    exp=i.text
    experience_required.append(exp)

In [74]:
print(len(job_title),len(company_name),len(experience_required),len(job_location))

10 10 10 10

In [75]:
df = pd.DataFrame({'job_title':job_title,'company_name':company_name,'experience_required':experience_required,'job_location':job_location})
df

,job_title,company_name,experience_required,job_location
0,Data Scientist In SINGAPORE,adal immigrations llp,3 to 8 Yrs,Bangalore\n+1
1,Data Scientist,techno endura,0 to 2 Yrs,Bangalore\n+6
2,Lead Data Scientist,spento papers (india) llp,12 to 22 Yrs,Bangalore\n+8
3,Data Scientist,future solution centre,2 to 7 Yrs,Bangalore\n+9
4,Data Scientist,the christopher's consulting and re...,0 to 2 Yrs,Bangalore\n+2
5,Data Scientist,eliterecruitments hiring for global...,4 to 8 Yrs,Bangalore
6,Data Science Analytics,mackenzie modern it solutions priva...,5 to 8 Yrs,Bangalore\n+7
7,Data Analyst,aryan technology,0 to 4 Yrs,Bangalore\n+4
8,sql data analysis,ikaya solutions private limited,3 to 6 Yrs,Bangalore\n+1
9,Data Catalog with Data Goverance,ltimindtree limited,6 to 11 Yrs,Bangalore\n+8

# Q3:Scrape 100 reviews data from flipkart.com for iphone11 phone?

In [136]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\tarun\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\tarun\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\tarun\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\tarun\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\tarun\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [379]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [380]:
#lets connect with web driver

driver = webdriver.Chrome()

In [381]:
# Open the flipkart.com website
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [382]:
#search the Product and click search button 

search_product = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_product.send_keys('iphone 11')

In [446]:
# Initialize empty lists
ratings = []
review_summaries = []
full_reviews = []

In [447]:
# Scraping Ratings from the given page
rating_elements = driver.find_elements(By.XPATH, '/html/body/div/div/div[3]/div/div[1]/div[2]/div[*]/div/div/div/div[1]/div')
for element in rating_elements:
    ratings.append(element.text)

# Scraping Review Summaries from the given page
review_elements = driver.find_elements(By.XPATH, '/html/body/div/div/div[3]/div/div[1]/div[2]/div[*]/div/div/div/div[1]/p')
for element in review_elements:
    review_summaries.append(element.text)

# Scraping Full Reviews from the given page
full_review_elements = driver.find_elements(By.XPATH, '/html/body/div/div/div[3]/div/div[1]/div[2]/div[*]/div/div/div/div[2]/div/div/div')
for element in full_review_elements:
    full_reviews.append(element.text)

In [448]:
# Print the lengths of each list
print(len(ratings), len(review_summaries), len(full_reviews))

0 0 0

In [449]:
# Create DataFrame
df = pd.DataFrame({
    'Rating': ratings,
    'Review_summary': review_summaries,
    'Full_review': full_reviews
})

# Display the DataFrame
print(df)

Empty DataFrame
Columns: [Rating, Review_summary, Full_review]
Index: []

# Q4:Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” in the search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [406]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\tarun\anaconda3\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\tarun\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\tarun\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\tarun\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\tarun\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\tarun\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\tarun\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [407]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [169]:
#lets connect with web driver

driver = webdriver.Chrome()

In [170]:
# Open the Naukri.com website
driver.get('https://www.flipkart.com/')

In [181]:
#search the Product and click search button 

search_product = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_product.send_keys('sneakers')

In [182]:
search_button = driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [241]:
Brand = []
Product_Description = []
Price = []

In [242]:
brand = driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div[*]/div/a/div[1]/div/div')
for i in brand[0:100]:
    brand_tag=i.text
    Brand.append(brand_tag)
    
product_description = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div[*]/div/div/div[2]')
for i in product_description[0:100]:
    product_description_tag=i.text
    Product_Description.append(product_description_tag)
    
price = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div[*]/div/div/a[2]/div/div[1]')
for i in price[0:100]:
    price_tag=i.text
    Price.append(price_tag)

In [243]:
print(len(Brand),len(Product_Description),len(Price))

0 0 0

In [244]:
df = pd.DataFrame({'Brand':brand,'Product_Des':product_des,'Price':price})
df

Empty DataFrame
Columns: [Brand, Product_Des, Price]
Index: []

# Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image:

In [193]:
#lets connect with web driver

driver = webdriver.Chrome()

In [194]:
# Open the Amazon.com website
driver.get('https://www.amazon.in/')

In [195]:
search_item = driver.find_element(By.XPATH,'//*[@id="twotabsearchtextbox"]')
search_item.send_keys("laptop")

In [196]:
click_search_button = driver.find_element(By.XPATH,'//*[@id="nav-search-submit-button"]')
click_search_button.click()

In [198]:
#select intel core 7 filter

intel_core7 = driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
intel_core7.click()

In [245]:
Title = []
Ratings = []
Price = []

title = driver.find_elements(By.XPATH,'//*[@id="search"]/div[1]/div[1]/div/span[1]/div[1]/div[*]/div/div/span/div/div/div/div[2]/div/div/div[1]/h2')
rating = driver.find_elements(By.XPATH,'//*[@id="search"]/div[1]/div[1]/div/span[1]/div[1]/div[*]/div/div/span/div/div/div/div[2]/div/div/div[2]/div[1]/span[1]/span/a/i[1]')
price = driver.find_elements(By.XPATH,'//*[@id="search"]/div[1]/div[1]/div/span[1]/div[1]/div[*]/div/div/span/div/div/div/div[2]/div/div/div[3]/div[1]/div/div[1]/div[2]/div[1]/a/span/span[2]/span[2]')

for i in title:Title.append(i.text)
for i in rating:Ratings.append(i.text)    
for i in price:Price.append(i.text)

In [246]:
print(len(Title),len(Ratings),len(Price))

0 0 0

In [247]:
df = pd.DataFrame({'Title':title,'Ratings':rating,'Price':price})
df

Empty DataFrame
Columns: [Title, Ratings, Price]
Index: []

# Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.

In [365]:
#lets connect with web driver

driver = webdriver.Chrome()

In [366]:
# Open the azquotes.com website
driver.get('https://www.azquotes.com/')

In [367]:
click_search_button = driver.find_element(By.XPATH,'//*[@id="menu"]/div/div[3]/ul/li[5]/a')
click_search_button.click()

In [411]:
Quote = []
Author = []
Type_of_quotes = []

In [412]:
# Scraping Quotes from the given page
quotes_elements = driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/div/ul/li[*]/div/p/a[2]')
quotes = [element.text for element in quotes_elements[:1000]]

# Scraping Authors from the given page
authors_elements = driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/div/ul/li[*]/div/div[1]/a')
authors = [element.text for element in authors_elements[:1000]]

# Scraping Types of Quotes from the given page
types_of_quotes_elements = driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/div/ul/li[*]/div/div[2]/div[1]')
types_of_quotes = [element.text for element in types_of_quotes_elements[:1000]]

# Example output (optional)
for i in range(len(quotes)):
    print(f"Quote: {quotes[i]}, Author: {authors[i]}, Type: {types_of_quotes[i]}")

In [413]:
# Print the lengths of each list
print(len(quotes), len(authors), len(types_of_quotes))

0 0 0

In [414]:
import pandas as pd

# Assuming 'quotes', 'authors', and 'types_of_quotes' are already defined and populated
df = pd.DataFrame({
    'quote': quotes,
    'author': authors,
    'type_of_quotes': types_of_quotes
})

# Display the DataFrame
print(df)

Empty DataFrame
Columns: [quote, author, type_of_quotes]
Index: []

# Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name,

Born-Dead, Term of office, Remarks)

In [485]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [486]:
#lets connect with web driver

driver = webdriver.Chrome()

In [487]:
# Open the JagranJosh.com website:
driver.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

In [488]:
# click on the GK Option:
gk_option = driver.find_element(By.XPATH,'//*[@id="__next"]/header/nav/div/div/div[3]/ul/li[4]/small/a')
gk_option.click()

In [490]:
# Click on the "List of all Prime Ministers of India":
pm_option = driver.find_element(By.XPATH,'//*[@id="__next"]/div[8]/section[5]/div[2]/ul/li[3]/article/h3')
pm_option.click()

In [491]:
# Locate the table
data = []
table = driver.find_element(By.XPATH, '//*[@id="itemdiv"]/div[4]/div[9]/div')  # Adjust the XPath if necessary
rows = table.find_elements(By.TAG_NAME, 'tr')

for row in rows:
    cols = row.find_elements(By.TAG_NAME, 'td')
    if len(cols) == 4:  # Ensure there are four columns
        name = cols[0].text
        born_dead = cols[1].text
        term_of_office = cols[2].text
        remarks = cols[3].text
        data.append([name, born_dead, term_of_office, remarks])

    driver.quit()
    return data

def display_data(data):
    for entry in data:
        print(entry)

if __name__ == "__main__":
    table_data = scrape_table()
    display_data(table_data)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="itemdiv"]/div[4]/div[9]/div"}
  (Session info: chrome=128.0.6613.138); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF6B6CD9412+29090]
	(No symbol) [0x00007FF6B6C4E239]
	(No symbol) [0x00007FF6B6B0B1DA]
	(No symbol) [0x00007FF6B6B5EFE7]
	(No symbol) [0x00007FF6B6B5F23C]
	(No symbol) [0x00007FF6B6BA97C7]
	(No symbol) [0x00007FF6B6B8672F]
	(No symbol) [0x00007FF6B6BA65A2]
	(No symbol) [0x00007FF6B6B86493]
	(No symbol) [0x00007FF6B6B509D1]
	(No symbol) [0x00007FF6B6B51B31]
	GetHandleVerifier [0x00007FF6B6FF871D+3302573]
	GetHandleVerifier [0x00007FF6B7044243+3612627]
	GetHandleVerifier [0x00007FF6B703A417+3572135]
	GetHandleVerifier [0x00007FF6B6D95EB6+801862]
	(No symbol) [0x00007FF6B6C5945F]
	(No symbol) [0x00007FF6B6C54FB4]
	(No symbol) [0x00007FF6B6C55140]
	(No symbol) [0x00007FF6B6C4461F]
	BaseThreadInitThunk [0x00007FF8FCE07374+20]
	RtlUserThreadStart [0x00007FF8FD51CC91+33]

In [ ]:
df = pd.DataFrame(data, columns=['Name', 'Born-Dead', 'Term of Office', 'Remarks'])
df

# Q8: Write a python program to display list of 50 Most expensive cars in the world

In [436]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [437]:
#lets connect with web driver

driver = webdriver.Chrome()

In [438]:
# Open the website:
driver.get('https://www.motor1.com/')

In [ ]:
search_item = driver.find_element(By.XPATH, '//*[@id="page_index_index_index"]/div[2]/div/div/div[3]/div')
search_item.send_keys("50 most expensive cars")

In [ ]:
click_search_button = driver.find_element(By.XPATH,'//*[@id="page_index_articles_search"]/div[6]/form/input[2]')
click_search_button.click()

In [442]:
# Scrape the data and create a dataframe
car_names = driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[2]/h3[*]')
car_prices = driver.find_elements(By.XPATH, '//*[@id="article_box"]/div[1]/div[2]/div[2]/p[*]/strong')

data = []
for name, price in zip(car_names, car_prices):    
    data.append([name.text, price.text])

In [443]:
df = pd.DataFrame(data, columns=['Car Name', 'Price'])
print(df)

                                     Car Name                        Price
0                           McLaren Senna GTR                 $1.7 Million
1                                 Czinger 21C          Price: $1.7 Million
2                               Ferrari Monza          Price: $1.7 Million
3                          Gordon Murray T.33          Price: $1.7 Million
4                           Koenigsegg Gemera          Price: $1.7 Million
5                          Hennessey Venom F5          Price: $1.8 Million
6                             Bentley Bacalar          Price: $1.9 Million
7               Hispano Suiza Carmen Boulogne          Price: $1.9 Million
8                      Bentley Mulliner Batur          Price: $2.0 Million
9                                 SSC Tuatara          Price: $2.0 Million
10                                Lotus Evija          Price: $2.1 Million
11                        Aston Martin Vulcan          Price: $2.3 Million
12                                 Delage D12          Price: $2.3 Million
13                        Ferrari Daytona SP3          Price: $2.3 Million
14                          McLaren Speedtail          Price: $2.3 Million
15                               Rimac Nevera          Price: $2.4 Million
16                              Pagani Utopia          Price: $2.5 Million
17                       Pininfarina Battista          Price: $2.5 Million
18                         Gordon Murray T.50          Price: $2.6 Million
19                       Lamborghini Countach          Price: $2.6 Million
20              Hennessey Venom F5 Revolution                 $2.7 Million
21                   Mercedes-AMG Project One          Price: $2.7 Million
22                               Zenvo Aurora          Price: $2.8 Million
23                        Aston Martin Victor          Price: $3.0 Million
24                Hennessey Venom F5 Roadster                 $3.0 Million
25                           Koenigsegg Jesko          Price: $3.0 Million
26                                 Aspark Owl                 $3.1 Million
27                      Aston Martin Valkyrie          Price: $3.2 Million
28                  W Motors Lykan Hypersport          Price: $3.4 Million
29                              McLaren Solus                 $3.5 Million
30                        Pagani Huayra Evo R          $3.5 Million (est.)
31                           Lamborghini Sian          Price: $3.6 million
32                           Koenigsegg CC850          Price: $3.7 Million
33            Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34  Gordon Murray Automotive T.50s Niki Lauda                 $3.9 Million
35                  Pagani Huayra Roadster BC                 $4.0 Million
36                         Lamborghini Veneno          Price: $4.5 Million
37                             Bugatti Bolide          Price: $4.7 Million
38                  Pininfarina B95 Speedster          Price: $4.8 Million
39                            Bugatti Mistral          Price: $5.0 Million
40                               Bugatti Divo          Price: $5.8 Million
41                        Pagani Huayra Imola                 $6.0 Million
42                           Pagani Codalunga          Price: $7.4 Million
43                   Mercedes-Maybach Exelero          Price: $8.0 Million
44                         Bugatti Centodieci          Price: $9.0 Million
45                    Bugatti Chiron Profilée         Price: $10.8 Million
46                       Rolls-Royce Sweptail         Price: $12.8 Million
47                   Bugatti La Voiture Noire         Price: $13.4 Million
48                      Rolls-Royce Boat Tail  Price: $28.0 Million (est.)
49         Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)